body {
	padding: 2rem;
	font-family: -apple-system, BlinkMacSystemFont, "Arial", sans-serif;
}

h1 {
	font-size: 16px;
	margin-top: 0;
}

p {
	color: rgb(107, 114, 128);
	font-size: 15px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.card {
	max-width: 620px;
	margin: 0 auto;
	padding: 16px;
	border: 1px solid lightgray;
	border-radius: 16px;
}

.card p:last-child {
	margin-bottom: 0;
}

  /* Portrait Container */
  .portrait-container {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  /* Responsive adjustments */
  @media (max-width: 767px) {
    .portrait-container {
      margin: 0 auto 1.5rem;
    }
  }


